* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Topbar {
  height: 55px;
  display: flex;
  justify-content: center;
  background: #350d36;
  background: white;
  box-shadow: 0px 0px 8px gray;
  padding: 0px;
  overflow: auto;
}


.SendBox {
  height: 140px;
  display: flex;
  justify-content: center;
  padding: 0px;
  overflow: auto;
  box-shadow: 0px 0px 8px gray;
  border-radius: 10px;
}

.Header {
  height: 30px;
  min-width: 300px;
  width: 50%;
  margin-top: 15px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.HeaderName {
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MessageField {
  width: 100%;
  /*background: rgb(217, 238, 234);*/
}

.MessageContent {
  margin: 10px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 8px gray;
}

.MessageContent .support {
  float: right;
}

.MessageContent .MessageBody {
  display: flex;
}

.MessageField .space {
  height: 10px;
}

.SenderIcon {
  margin-right: 8px;
}

.SenderInfo {
  display: flex;
}

.SenderName {
  font-size: 14px;
  font-weight: bold;
}

.Time {
  font-size: 12px;
  margin-left: 20px;
}



/* コンテナ */
#GridContainer {
  height: 100vh;
  display: grid;
  grid-template-rows: 55px 55px 1fr 140px;
  grid-template-columns: 205px 1fr;
  /*Aの横幅、他のやつの幅は余り*/
  /* background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%); */

}

#Top {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background: rgb(129, 210, 228);
}

#itemA {
  grid-row: 2 / 5;
  grid-column: 1 / 2;

  /* background: #f88;
  background: #53c3ac;
  background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%); */
  /* border: ridge; */

  overflow: auto;
}

#itemB {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  /*
  border: ridge;
  */
}

#itemC {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  /*
  background: #88f;
  background: white;
  border: ridge;
  */
  overflow: auto;
}

#itemD {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  /*
  background: rgb(184, 188, 102);
  background: white;
  border: ridge;
  */
}

.NotFound {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-grow: 1;
}

.NotFound .modal {
  align-items: center;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  margin-top: 12px;
  border-radius: 10px;
  background-color: white;
}

.auth {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-grow: 1;
}

.auth2 {
  align-items: center;
  width: 300px;
  background-color: white;
  padding: 20px;
  justify-content: center;
  margin-top: 12px;
  border-radius: 10px;
}

.auth h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}


.Password__visual {
  margin: 10px;
}


.Sidebar {
  height: 90vh;
  width: 200px;
  margin-left: 5px;

  /* background: #3f0e40;
    background: #53c3ac;
    background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%); */

}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 90%;
  height: 40px;
  /* background-color: cadetblue; */
  /* border: 1px solid black; */
  display: flex;
  color: #ece7ec;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px gray;
  background-color: #697fd7; 
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: rgb(86, 121, 118);
}

.SidebarList #active {
  background-color: #1164a3;
}

.SidebarList .row #icon {
  flex: 25%;
  display: grid;
  place-items: center;
}

.SidebarList .row #title {
  flex: 75%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 14px;
}

.SidebarIcon {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.SidebarIcon img {
  width: 100px;
}

.SidebarIcon p {
  color: white;
  font-weight: 600;
  font-size: 13px;
}

.logoutModal {
  text-align: center;
}

.logoutyes {
  height: 50px;
  width: 300px;
  margin: 20px;
  border-radius: 30px;
}

.logoutno {
  height: 50px;
  width: 300px;
  margin: 20px;
  border-radius: 30px;
}

#overlay2 {
  /*　画面全体を覆う設定　*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;

}

#content {
  z-index: 2;
  height: auto;
  width: 50%;
  padding: 1em;
  background: #fff;
  border-radius: 30px;
}

.Allchannels {
  display: flex;
}

.Allchannels .Channelcontainer {
  width: 80%;
  padding: 20px;
}

.Allchannels .channel {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.Allchannels .channelname {
  font-weight: bold;
}

.Allchannels .detail {
  display: flex;
}

.Allchannels .join {
  margin-right: 10px;
  color: green;
}


.outerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  padding: 36px;
  border-radius: 10px;
  color: black;
}

.outerBox h2 {
  font-weight: 600;
  margin-top: 5px;
}

.imageUplodeBox {
  border: 2px dashed #2d6395;
  padding: 35px 60px;
  position: relative;
}

.imageLogoAndText p {
  margin-bottom: 0px;
}

.imageUploadInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}